<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Graded Assessment</font></h1>

# Introducción

Con este cuaderno de Python, podrá:

1. Comprender tres conjuntos de datos de Chicago.
2. Cargar los tres conjuntos de datos en tres tablas de una base de datos SQLIte.
3. Ejecutar consultas SQL para responder preguntas sobre los datos que contienen estos DataSets.

## Comprender los DataSets

Para completar los problemas de asignación en este cuaderno, utilizará tres conjuntos de datos que están disponibles en el Portal de datos de la ciudad de Chicago:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Indicadores socioeconómicos en Chicago

Este conjunto de datos contiene una selección de seis indicadores socioeconómicos de importancia para la salud pública y un "índice de dificultades" para cada área comunitaria de Chicago, para los años 2008 a 2012.

Se puede obtener una descripción detallada de este conjunto de datos y del conjunto de datos original en el Portal de datos de Chicago en:

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Escuelas públicas de Chicago

Este conjunto de datos muestra todos los datos de desempeño a nivel escolar utilizados para crear los boletines de calificaciones escolares de CPS para el año escolar 2011-2012. Este conjunto de datos es proporcionado por el Portal de datos de la ciudad de Chicago.

Se puede obtener una descripción detallada de este conjunto de datos y del conjunto de datos original en el Portal de datos de Chicago en:

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Datos sobre delitos en Chicago

Este conjunto de datos refleja los incidentes delictivos denunciados (con excepción de los asesinatos, en los que existen datos de cada víctima) que ocurrieron en la ciudad de Chicago desde 2001 hasta la actualidad, menos los siete días más recientes.

Se puede obtener una descripción detallada de este conjunto de datos y del conjunto de datos original en el Portal de datos de Chicago en:

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Descargar los conjuntos de datos

Esta tarea requiere que estas tres tablas estén completas con un subconjunto de los conjuntos de datos completos.

En muchos casos, el conjunto de datos que se analizará está disponible como un archivo .CSV (valores separados por comas), quizás en Internet.

Utilice los enlaces a continuación para leer los archivos de datos utilizando la biblioteca Pandas.

* Datos del censo de Chicago

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Public Schools

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Crime Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

**NOTA:** Asegúrese de utilizar los conjuntos de datos disponibles en los enlaces anteriores en lugar de hacerlo directamente desde el Portal de datos de Chicago. Las versiones vinculadas aquí son subconjuntos de los conjuntos de datos originales y tienen algunos de los nombres de columnas modificados para que sean más compatibles con la base de datos, lo que facilitará la realización de esta tarea.

Ejecutamos la siguiente celda de código para evitar el error predeterminado de Prettytable.

In [83]:
%pip install ipython-sql prettytable

import prettytable

prettytable.DEFAULT = 'DEFAULT'

Requirement already satisfied: ipython-sql in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (3.12.0)
Requirement already satisfied: ipython in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from ipython-sql) (8.29.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from prettytable) (0.2.13)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: decorator in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

### Almacenar los conjuntos de datos en tablas de bases de datos

Para analizar los datos mediante SQL, primero es necesario cargarlos en la base de datos SQLite.
Crearemos tres tablas como se muestra a continuación:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Importamos las bibliotecas `pandas` y `sqlite3` y establecemos una conexión a `FinalDB.db`

In [84]:
%pip install pandas

import pandas as pd
import csv, sqlite3

conn = sqlite3.connect('FinalDB.db')
cursor = conn.cursor()

Requirement already satisfied: pandas in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Importamos el módulo `Magic SQL` para trabajar más cómodos.

In [85]:
%pip install ipython-sql

%load_ext sql

Requirement already satisfied: ipython-sql in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from ipython-sql) (8.29.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: decorator in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\pc\desktop\data_science\sql\proyecto_final_sql\.venv\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)
Note: you may need to restart the kernel to use updated packages.
The sql extension is already loaded. To reload it, use:
  %reload_ext sql

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Usamos `Pandas` para cargar los datos disponibles en los enlaces anteriores, en 3 dataframes para luego cargar los datos en la base de datos ``FinalDB.db `` como las tablas requeridas.

In [176]:
# leemos los archivos csv y los guardamos en variables como DataFrames de pandas
CENSUS_DATA = pd.read_csv('./ChicagoCensusData.csv')
CHICAGO_PUBLIC_SCHOOLS = pd.read_csv('./ChicagoPublicSchools.csv')
CHICAGO_CRIME_DATA = pd.read_csv('./ChicagoCrimeData.csv')

# Cargamos los DataFrames en la base de datos "FinalDB.db"
CENSUS_DATA.to_sql("chicago_socioeconomic_data", conn, if_exists='replace', index=False, method="multi")
CHICAGO_CRIME_DATA.to_sql("chicago_crime_data", conn, if_exists='replace', index=False, method="multi")


#Los parametros de insert para la consulta "CHICAGO_PUBLIC_SCHOOLS" superan 
# los permitidos por lo tanto procedemos a cargarlo por lotes

# Definimos el tamaño del lote para dividir el DataFrame en partes más pequeñas
lote_size = 500  

# Iteramos sobre el DataFrame en lotes y cargamos cada lote en la tabla de SQL
for i in range(0, len(CHICAGO_PUBLIC_SCHOOLS), lote_size):
    lote = CHICAGO_PUBLIC_SCHOOLS.iloc[i:i+lote_size]
    lote.to_sql("chicago_public_schools_data", conn, if_exists='append', index=False)

Establecemos una conexión entre el módulo `Magic SQL` y la base de datos `FinalDB.db`.

In [177]:
%sql sqlite:///FinalDB.db

Ahora que ya tenemos el entorno listo para trabajar procedemos a reponder el siguiente cuestionario.

---------

## Problemas

Ahora escriba y ejecute consultas SQL para resolver los siguientes problemas de asignación:

### Problema 1

##### Encuentre la cantidad total de delitos registrados en la tabla CHICAGO_CRIME_DATA.

In [ ]:
#El numero de delitos se puede entender como la cantidad de registros que hay en la tabla.
%sql SELECT COUNT(*) FROM chicago_crime_data

 * sqlite:///FinalDB.db
Done.

[(533,)]

### Problema 2

##### Enumere los nombres y números de las áreas comunitarias con un ingreso per cápita menor a 11 000.

In [182]:
%%sql 
SELECT 
community_area_name AS nombre_comunidad, 
community_area_number AS numero_area,
per_capita_income AS ingreso_per_capita
FROM chicago_socioeconomic_data
WHERE PER_CAPITA_INCOME < 11000

 * sqlite:///FinalDB.db
Done.

[('West Garfield Park', 26.0, 10934),
 ('South Lawndale', 30.0, 10402),
 ('Fuller Park', 37.0, 10432),
 ('Riverdale', 54.0, 8201)]

### Problema 3

##### Enumere todos los números de casos de delitos que involucran a menores (los niños no se consideran menores a los efectos del análisis de delitos).

In [183]:
%%sql 
SELECT case_number FROM chicago_crime_data
WHERE description LIKE '%MINOR%'

 * sqlite:///FinalDB.db
Done.

[('HL266884',), ('HK238408',)]

### Problema 4

##### Enumere todos los delitos de secuestro que involucran a un niño.

In [185]:
%%sql 
SELECT case_number FROM chicago_crime_data
WHERE primary_type = 'KIDNAPPING' AND description LIKE '%CHILD%'

 * sqlite:///FinalDB.db
Done.

[('HN144152',)]

### Problema 5

##### Enumere los tipos de delitos que se registraron en las escuelas. (Sin repeticiones)

In [186]:
%%sql
SELECT DISTINCT primary_type AS crime_type FROM chicago_crime_data
WHERE location_description LIKE'%SCHOOL%'

 * sqlite:///FinalDB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

### Problema 6

##### Enumere el tipo de escuelas junto con el puntaje de seguridad promedio para cada tipo.

In [189]:
%%sql 
SELECT DISTINCT Elementary_Middle_or_High_School AS tipo_escuela,
    AVG(safety_score) AS Score_Safety_promedio_por_tipo_escuela
FROM chicago_public_schools_data
WHERE Elementary_Middle_or_High_School IN ('ES','HS','MS')
GROUP BY 
    Elementary_Middle_or_High_School
ORDER BY 
    Elementary_Middle_or_High_School

 * sqlite:///FinalDB.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

### Problema 7

##### Enumere 5 áreas comunitarias con el mayor porcentaje de hogares por debajo de la línea de pobreza

In [193]:
%%sql
SELECT community_area_name AS areas_mayor_nivel_pobreza 
FROM chicago_socioeconomic_data
ORDER BY percent_households_below_poverty DESC 
LIMIT 5

 * sqlite:///FinalDB.db
Done.

[('Riverdale',),
 ('Fuller Park',),
 ('Englewood',),
 ('North Lawndale',),
 ('East Garfield Park',)]

### Problema 8
##### ¿Qué área de la comunidad es más propensa a la delincuencia? Muestre solo el número de área de la comunidad.

In [201]:
%%sql
SELECT community_area_number, COUNT(*) AS numero_delitos FROM chicago_crime_data
GROUP BY community_area_number
ORDER BY numero_delitos
DESC LIMIT 1

 * sqlite:///FinalDB.db
Done.

[(25.0, 43)]

### Problema 9

##### Utilice una subconsulta para encontrar el nombre del área comunitaria con el índice de dificultad más alto

In [205]:
%%sql
SELECT community_area_name AS area_comunidad 
FROM chicago_socioeconomic_data
WHERE hardship_index IN 
(SELECT MAX(hardship_index) FROM chicago_socioeconomic_data)

 * sqlite:///FinalDB.db
Done.

[('Riverdale',)]

### Problema 10

##### Utilice una subconsulta para determinar el nombre del área de la comunidad con mayor número de delitos.

In [206]:
%%sql
SELECT 
    census_data.community_area_number AS numero_area,
    census_data.community_area_name AS nombre_ciudad,
    crime_data.numero_delitos
FROM 
    chicago_socioeconomic_data AS census_data
JOIN 
    (SELECT community_area_number, COUNT(*) AS numero_delitos
     FROM chicago_crime_data
     GROUP BY community_area_number
     ORDER BY numero_delitos DESC
     LIMIT 1) AS crime_data
ON 
    census_data.community_area_number = crime_data.community_area_number

 * sqlite:///FinalDB.db
Done.

[(25.0, 'Austin', 43)]

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>
<h4>Abhishek Gagneja</h4>
<!--
## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
|2023-10-18  | 2.6     | Abhishek Gagneja  | Modified instruction set |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |
-->
## <h3 align="center"> © IBM Corporation 2023. All rights reserved. <h3/>